$font-primary: 'Open Sans', Arial, sans-serif;
// Overrides
$grid-gutter-width: 40px;
$border-radius-base: 4px;
$padding-base-vertical: 14px;

$brand-primary: #F4594D;
$brand-secondary: #fce9ca;

$brand-white: #fff;
$brand-black: #000;
$brand-lighter: #848484;
$brand-darker: #5a5a5a;
$brand-selection-color: $brand-primary;
$brand-body-color: #fcfcfc;
$brand-body-bg: #fff;
$brand-dark-footer: #222831;

$input-border-focus: $brand-primary;
$form-group-margin-bottom: 30px;

// Mixin
@mixin fh5co-translateX($translatex) {
  -moz-transform: translateX($translatex);
  -webkit-transform: translateX($translatex);
  -ms-transform: translateX($translatex);
  -o-transform: translateX($translatex);
  transform: translateX($translatex);
}

@mixin transition($transition, $ease: 'ease') {
  -moz-transition: all $transition unquote($ease);
  -o-transition: all $transition unquote($ease);
  -webkit-transition: all $transition unquote($ease);
  transition: all $transition unquote($ease);
}

@mixin inline-block() {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

@mixin flex() {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flexwrap() {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/icomoon.eot?srf3rx');
  src: url('../fonts/icomoon/icomoon.eot?srf3rx#iefix') format('embedded-opentype'),
  url('../fonts/icomoon/icomoon.ttf?srf3rx') format('truetype'),
  url('../fonts/icomoon/icomoon.woff?srf3rx') format('woff'),
  url('../fonts/icomoon/icomoon.svg?srf3rx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin icomoon() {

  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

// Import 
@import 'bootstrap/mixins';
@import 'bootstrap/variables';

/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */

// Template Base

body {
  font-family: $font-primary;
  line-height: 1.6;
  font-size: 16px;
  background: $brand-body-bg;
  color: #848484;
  font-weight: 300;
  overflow-x: hidden;
  &.fh5co-offcanvas {
    overflow: hidden;
  }
}

a {
  color: $brand-primary;
  @include transition(.5s, ease);
  &:hover {
    text-decoration: none;
    color: $brand-primary;
  }
}

p, ul, ol {
  margin-bottom: 1.5em;
  font-size: 16px;
  color: $brand-lighter;
  // font-weight: 300;
  font-family: $font-primary;
}

h1, h2, h3, h4, h5, h6 {
  color: $brand-darker;
  font-family: $font-primary;
  font-weight: 400;
  margin: 0 0 30px 0;
}

figure {
  margin-bottom: 2em;
}

.fa {
  font-size: 1em;
  color: $brand-primary;
}

.hidden {
  display: none;
}

#callback {
  h3 {
    margin-top: 20px;
    font-size: 26px;
    color: $brand-primary;
    text-align: center;
    display: none;
  }
}

#fh5co-header {
  position: relative;
  margin-bottom: 0;
  z-index: 9999999;
}

.stuck {
  position: fixed !important;
  top: 0 !important;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}

.header-top {
  padding: 10px 0;
  background: $brand-primary;
  .fh5co-link {

    a {
      margin-left: 10px;
      font-size: 13px;
      color: rgba(255, 255, 255, .7);
      &:first-child {
        margin-left: 0;
      }
      &:hover {
        color: $brand-primary;
      }
    }
  }
  .fh5co-social {
    a {
      color: rgba(255, 255, 255, .7);
      font-size: 14px;
      margin-right: 15px;
      position: relative;
      @include transition(.5s, ease-in-out);

      &:last-child {
        margin-right: 0;
      }
      &:hover, &:focus, &:active {
        text-decoration: none;
        color: rgba(255, 255, 255, 1) !important;
        i {
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
          -ms-transform: scale(1.2);
          -o-transform: scale(1.2);
          transform: scale(1.2);
        }
      }
    }
  }
}

.fh5co-cover,
.fh5co-hero {
  position: relative;
  min-height: calc(100vh - 80px);
  // font-weight: 300;
  &.fh5co-hero-2 {
    height: 600px;

    .fh5co-overlay {
      position: absolute !important;
      width: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      background: rgba(0, 0, 0, .2);
    }
  }
  .fh5co-cover {
    background-image: url(../images/bg_img.jpg);
    background-size: cover;
    position: relative;
    .btn {
      padding: 1em 2em;
      opacity: .9;
    }
    &.fh5co-cover_2 {
      height: 600px;
    }
    .desc {
      position: absolute;
      right: 10%;
      top: 30%;
      max-width: 800px;
      .col-md-10 {
        margin-left: 0;
      }
      .animate-box {
        img {
          width: 700px;
        }
      }
    }

  }
  #main-logo {
    display: block;
    float: right;
    z-index: 1000;
    position: relative;
    top: 0;
    right: 0;

  }
}

.top_header {
  @include flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30%;
  padding: 20px 0;
  position: absolute;
  right: 15%;
  color: $brand-darker;
  background: rgba(255, 255, 255, 0.6);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  .top_contacts {
    display: flex;
    flex-direction: column;
    .top-phone {
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-size: 25px;
      margin-bottom: 15px;
      .fa {
        position: relative;
        right: 10px;
        top: 7px;
      }
    }
    .top_addr {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 15px;
    }
    .marker {
      margin-right: 10px;
    }
    //.popup {
    //  margin-left: 10px;
    //}
  }
  .btn_soc {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    font-size: 40px;

  }
}

#callback {
  padding: 50px 20px;
  background-color: #ffffff;
  max-width: 320px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  input {
    width: 100%;
    margin-bottom: 10%;
  }
  textarea {
    width: 100%;
    margin-bottom: 10%;
  }
  .btn {
    position: relative;
    left: 20%;
  }
}

.fh5co-overlay {
  position: absolute !important;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  // background: rgba(48,56,65,.92);
  background: rgba(66, 64, 64, .9);
  //background: rgba(0, 0, 0, .2);
}

.sf-menu {
  float: right;
  margin-bottom: 0;
}

.sf-menu ul {
  box-shadow: none;
  border: transparent;
  min-width: 12em;
  *width: 12em;
}

.sf-menu a {
  color: rgba(0, 0, 0, .5);
  padding: .75em .5em !important;
  font-weight: normal;
  border-left: none;
  border-top: none;
  border-top: none;
  text-decoration: none;
  zoom: 1;
  font-size: 25px;
  border-bottom: none !important;

  //&:hover, &:focus {
  //  color: $brand-primary !important;
  //}
}

.sf-menu li {
  &:hover, &:focus {
    background: $brand-primary;
    border-radius: 5px;

  }
  &.active a {
    color: $brand-primary;
  }
}

.sf-menu li,
.sf-menu ul li,
.sf-menu ul ul li {
  background: transparent;
}

.sf-menu li:hover,
.sf-menu li.sfHover {
  background: $brand-primary;
}

.sf-menu ul li a,
.sf-menu ul ul li a {
  text-transform: none;
  padding: .5em 1em !important;
  letter-spacing: 1px;
  font-size: 18px !important;
}

.sf-menu li:hover a,
.sf-menu li.sfHover a,
.sf-menu ul li:hover a,
.sf-menu ul li.sfHover a,
.sf-menu li.active a {
  text-shadow: 2px 2px 1px rgba(0, 0, 0, .08);
}

.sf-menu ul li:hover,
.sf-menu ul li.sfHover {
  background: transparent;
}

.sf-menu ul li {
  background: transparent;
}

.sf-arrows .sf-with-ul {
  padding-right: 2.5em;
  *padding-right: 1em;
}

.sf-arrows .sf-with-ul:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 1em;
  margin-top: -3px;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-top-color: #ccc;
}

.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
  border-top-color: #ccc;
}

.sf-arrows ul .sf-with-ul:after {
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent;
  border-left-color: #ccc;
}

.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
  border-left-color: #ccc;
}

#fh5co-header-section {
  @include flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
  //position: relative;
  left: 0;
  width: 100%;
  z-index: 1022;
  background: $brand-secondary;
}

#fh5co-menu-wrap {
  position: relative;
  z-index: 2;
  display: block;
  float: right;
  .sf-menu a {
    padding: 1.5em .75em;
  }
}

#fh5co-primary-menu {
  > li {
    > ul {
      li {
        //&.active > a {
        background: $brand-primary !important;
        //}
      }
    }
    > .sf-with-ul {
      &:after {
        border: none !important;
        @include icomoon();
        position: absolute;
        float: right;
        margin-right: -0px;
        top: 50%;
        font-size: 12px;
        margin-top: -7px;
        content: "\e922";
        color: rgba(0, 0, 0, .5);
      }
    }
    > ul {
      li {
        position: relative;
        > .sf-with-ul {
          &:after {
            border: none !important;
            @include icomoon();
            position: absolute;
            float: right;
            margin-right: 10px;
            top: 20px;
            font-size: 12px;
            content: "\e924";
            color: rgba(0, 0, 0, .5);
          }
        }
      }
    }
  }
}

#fh5co-primary-menu .fh5co-sub-menu {
  padding: 10px 7px 10px;
  background: $brand-white;
  left: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  > li {
    > .fh5co-sub-menu {
      left: 100%;
    }
  }

}

#fh5co-primary-menu .fh5co-sub-menu:before {
  position: absolute;
  top: -9px;
  left: 20px;
  width: 0;
  height: 0;
  content: '';
}

#fh5co-primary-menu .fh5co-sub-menu:after {
  position: absolute;
  top: -8px;
  left: 21px;
  width: 0;
  height: 0;
  border-right: 8px solid transparent;
  border-bottom: 8px solid $brand-white;
  border-bottom: 8px solid rgba(255, 255, 255, 1);
  border-left: 8px solid transparent;
  content: '';
}

#fh5co-primary-menu .fh5co-sub-menu .fh5co-sub-menu:before {
  top: 6px;
  left: 100%;
}

#fh5co-primary-menu .fh5co-sub-menu .fh5co-sub-menu:after {
  top: 7px;
  right: 100%;
  border: none !important;
}

.site-header.has-image #primary-menu .sub-menu {
  border-color: #ebebeb;
  -webkit-box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
  -o-box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
  box-shadow: 0 5px 15px 4px rgba(0, 0, 0, 0.09);
  &:before {
    display: none;
  }
}

#fh5co-primary-menu .fh5co-sub-menu a {
  letter-spacing: 0;
  padding: 0 15px;
  font-size: 22px;
  line-height: 34px;
  color: #575757 !important;
  text-transform: none;
  background: none;
  &:hover {
    color: $brand-primary !important;
  }
}

.fh5co-section-gray {
  background: rgba($brand-black, .04);
}

.heading-section {
  padding-bottom: 1em;
  margin-bottom: 5em;
  &:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    height: 2px;
    background: $brand-primary;
  }

  h3 {
    font-size: 40px;
    font-weight: 300;
    // letter-spacing: 2px;
    position: relative;
  }
  p {
    font-size: 20px;
  }
}

.feature-text {
  h3 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 700;
    color: $brand-black;
    .number {
      margin-right: 5px;
      color: $brand-primary;
      @include inline-block;
    }
  }
  p {
    font-size: 16px;
  }
}

#fh5co-services-section {
  .service {
    padding: 10px;
    display: inline-block;
    a {
      display: inline-block;
      width: 300px;
    }
    img {

      max-width: 100%;
    }
  }
}

.feature-left {
  float: left;
  width: 100%;
  margin-bottom: 40px;
  position: relative;

  .icon {
    float: left;
    text-align: center;
    width: 15%;

    i {
      display: table-cell;
      vertical-align: middle;
      font-size: 40px;
      color: $brand-primary;
    }
  }
  .feature-copy {
    float: right;
    width: 80%;
    h3 {
      font-size: 18px;
      color: lighten($brand-black, 10%);
      margin-bottom: 10px;
    }
    p {
      font-size: 16px;
      line-height: 1.8;
      margin-bottom: 10px;
    }
  }
}

#fh5co-work-section,
#fh5co-work-section_2,
#fh5co-blog-section,
#fh5co-features {
  padding: 5em 0;
}

//#fh5co-blog-section {
//  .features {
//    display: flex;
//    flex-direction: row;
//    flex-wrap: nowrap;
//    align-content: flex-start;
//  }
//  .row:last-child {
//    width: 100%;
//    justify-content: center;
//  }
//}

#fh5co-services-section {
  padding-bottom: 5em;
}

.fh5co-content-section {
  padding-top: 5em;
}

#fh5co-portfolio {
  padding: 5em 0;
  // background: #303841;
  min-height: 500px;
}

#fh5co-portfolio-list {
  @include flexwrap;
  @include flex;
  position: relative;
  float: left;
  padding: 0;
  margin: 0;
  width: 100%;
  li {
    display: block;
    padding: 0;
    margin: 0 0 10px 1%;
    list-style: none;
    min-height: 400px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    clear: left;
    position: relative;
    a {
      min-height: 400px;
      padding: 2em;
      position: relative;
      width: 100%;
      display: block;
      &:before {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        z-index: 80;
        @include transition(.5s);

        background: rgba(0, 0, 0, .0);

      }
      &:hover {
        &:before {
          background: rgba(0, 0, 0, .5);
        }
      }

      .case-studies-summary {
        width: auto;
        bottom: 2em;
        left: 2em;
        right: 2em;
        position: absolute;
        z-index: 100;
        span {
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 13px;
          color: rgba(255, 255, 255, .7);
        }
        h2 {
          color: $brand-white;
          margin-bottom: 0;
        }

      }
    }
    &.two-third {
      width: 65.6%;
    }
    &.one-third {
      width: 32.3%;

    }
    &.one-half {
      width: 49%;
    }
  }
}

#fh5co-features {
  padding: 5em 0;

  .feature-left {
    margin-bottom: 40px;
    .icon {
      i {
        color: lighten($brand-black, 85%) !important;
      }
    }
    .icon {
      float: left;
      text-align: center;
      width: 15%;
    }
    .feature-copy {
      float: right;
      width: 80%;
    }
    h3 {
      font-size: 16px;
      font-weight: 700;
    }
    p {
      font-size: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

#fh5co-feature-product {
  padding: 5em 0;
}

#fh5co-services, #fh5co-about, #fh5co-contact {
  padding: 5em 0;
}

#fh5co-services {
  .fh5co-number {
    font-size: 30px;
    color: $brand-primary;
    position: relative;
    padding-top: 10px;
    font-style: italic;
    @include inline-block;
    &:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 3px;
      top: 0;
      left: 0;
      background: $brand-primary;

    }
  }
  .fh5co-icon {
    margin-bottom: 30px;
    margin-top: 50px;
    position: relative;
    @include inline-block;
    i {
      font-size: 200px;
      color: $brand-primary;
    }
  }
}

#fh5co-contact {
  .contact-info {
    margin: 0;
    padding: 0;
    li {
      // font-size: 16px;
      list-style: none;
      margin: 0 0 20px 0;
      position: relative;
      padding-left: 40px;

      i {
        position: absolute;
        top: .3em;
        left: 0;
        font-size: 22px;
        color: rgba($brand-black, .3);
      }
      a {
        font-weight: 400 !important;
        color: rgba($brand-black, .3)
      }

    }
  }
  .form-control {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, .1);
    font-size: 18px;

    font-weight: 400;
    @include border-radius(0px);

    &:focus, &:active {
      border-bottom: 1px solid rgba(0, 0, 0, .5);
    }

  }
  input[type="text"] {
    height: 50px;
  }
  .form-group {
    margin-bottom: 30px;
  }
}

.fh5co-testimonial, .fh5co-team {
  position: relative;
  //background: $brand-white;
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 30px;

  h2 {
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 50px;
  }
  figure {
    position: relative;
    top: 0;
    background-size: cover;
    margin-bottom: 20px;
    img {
      width: 130px;
      height: 130px;
      border: 10px solid $brand-white;
      background-size: cover;
      @include border-radius(50%);
    }
  }

  > div {
    padding: 30px 30px 0 30px;
    h3 {
      margin-bottom: 0;
      font-size: 20px;
      color: $brand-primary;
    }
    .position {
      color: lighten($brand-black, 85%);
      margin-bottom: 30px;
    }
  }
  > div,
  blockquote {
    border: none;
    padding: 0;
    margin-bottom: 20px;
    p {
      font-size: 16px;
      line-height: 1.5;
      color: #555555;
    }

  }

  span {
    font-style: italic;
    color: lighten($brand-black, 70%);
  }
}

.fh5co-testimonial {
  p {
    .text-mute {
      color: #ccc !important;
    }
  }
}

.fh5co-blog {
  margin-bottom: 60px;
  a {
    img {
      width: 100%;
    }
  }
  .blog-text {
    margin-bottom: 20px;
    position: relative;
    background: $brand-white;
    width: 100%;
    padding: 30px;
    float: right;
    // margin-top: -5em;
    -webkit-box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.18);
    box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.18);

    span {
      display: inline-block;
      margin-bottom: 10px;
      &.posted_by {
        font-style: italic;
        color: rgba($brand-black, .3);
        font-size: 18px;
      }
      &.comment {
        float: right;
        a {
          color: rgba($brand-black, .3);
          i {
            color: $brand-primary;
            padding-left: 7px;
          }
        }
      }
    }
    h3 {
      font-size: 20px;
      margin-bottom: 10px;
      font-weight: 300;
      line-height: 1.5;
      a {
        color: rgba($brand-primary, .7);
      }
    }

    p {
      // color: rgba($brand-white,.5);
    }
  }
}

#fh5co-start-project-section {
  padding: 5em 0;
  background: #F64E8B;
  h2 {
    color: rgba(255, 255, 255, 1);
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 300;
  }
  a {
    &:hover, &:focus, &:active {
      color: rgba(255, 255, 255, 1) !important;
    }
  }
}

// Map
#map {
  width: 100%;
  height: 500px;
  position: relative;
}

.fh5co-social-icons {
  > a {
    padding: 4px 10px;
    color: $brand-primary;

    i {
      font-size: 26px;
    }
    &:hover, &:focus, &:active {
      text-decoration: none;
      color: $brand-darker;
    }
  }
}

#footer {
  background: $brand-primary;
  padding: 20px 0 10px;

  p {
    color: rgba($brand-white, 1);
    // letter-spacing: 1px;
    font-size: 14px;
    // text-transform: uppercase;
    a {
      color: rgba($brand-white, .5);
      &:hover, &:active, &:focus {
        color: rgba($brand-white, .9) !important;
      }
    }
    &:last-child {
      padding-bottom: 0;
    }
  }

  .fh5co-footer-link {
    padding-bottom: 30px;
    h3 {
      color: $brand-white;
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 15px;
    }
    li, ul {
      padding: 0;
      margin: 0;
    }
    li {
      list-style: none;
      margin-bottom: 15px;
      line-height: 1.3;
      a {
        color: rgba(255, 255, 255, .5);
        &:hover, &:active, &:focus {
          color: $brand-white !important;
        }
      }
    }
  }
}

.btn {
  @include transition(.3s);
}

.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 20px;
  @include transition(.3s);
  &.btn-primary {
    background: $brand-primary;
    color: $brand-white;
    border: 2px solid transparent !important;
    &:hover, &:active, &:focus {
      box-shadow: none;
      background: $brand-primary;
      color: $brand-white !important;
    }
  }
  &:hover, &:active, &:focus {
    background: $brand-lighter !important;
    color: $brand-white !important;
    outline: none !important;
  }
  &.btn-default {
    &:hover, &:focus, &:active {
      border-color: transparent;
    }
  }
}

.btn-lg {
  border-radius: 30px;
}

.animate-box {
  .js & {
    opacity: 0;
  }
}

#fh5co-wrapper {
  overflow-x: hidden;
  position: relative;
}

.fh5co-offcanvas {
  overflow: hidden;
  #fh5co-wrapper {
    overflow: hidden !important;
  }
}

#fh5co-page {
  position: relative;
  @include transition(.5s);
  .fh5co-offcanvas & {
    @include fh5co-translateX(-240px);
  }
}

#offcanvas-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 99;
  background: #222;
  right: -240px;
  width: 240px;
  padding: 20px;
  overflow-y: scroll !important;
  display: none;
  ul {
    padding: 0;
    margin: 0;
    li {
      padding: 0;
      margin: 0 0 10px 0;
      list-style: none;
      a {
        font-size: 22px;
        color: rgba(255, 255, 255, .4);
        &:hover {
          color: $brand-primary;
        }
      }
      > .fh5co-sub-menu {
        margin-top: 9px;
        padding-left: 20px;
      }
      &.active {
        > a {
          color: $brand-primary;
        }
      }
    }
    .fh5co-sub-menu {
      display: block !important;
    }
  }
}

// Burger Menu
.fh5co-nav-toggle {
  margin-right: 40px !important;
  cursor: pointer;
  text-decoration: none;
  &.active i {
    &::before, &::after {
      background: $brand-primary;
    }
  }
  &.dark {
    &.active i {
      &::before, &::after {
        background: $brand-primary;
      }
    }
  }
  &:hover, &:focus, &:active {
    outline: none;
    border-bottom: none !important;
  }
  i {
    position: relative;
    @include inline-block;
    width: 45px;
    height: 3px;
    color: $brand-white;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: $brand-white;
    transition: all .2s ease-out;
    &::before, &::after {
      content: '';
      width: 45px;
      height: 3px;
      background: $brand-white;
      position: absolute;
      left: 0;
      @include transition(.2s);

    }
  }
  &.dark {
    i {
      position: relative;
      color: $brand-primary;
      background: $brand-primary;
      transition: all .2s ease-out;
      &::before, &::after {
        background: $brand-primary;
        @include transition(.2s);
      }
    }
  }
}

.fh5co-nav-toggle i::before {
  top: -7px;
}

.fh5co-nav-toggle i::after {
  bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
  top: -10px;
}

.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}

.fh5co-nav-toggle.active i {
  background: transparent;
}

.fh5co-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
  //display: block;
  margin: 0 auto;
  display: none;
  cursor: pointer;
}

// // Helper Class

.col-xxs-12 {
  @media screen and (max-width: 480px) {
    float: none;
    width: 100%;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 5em;
  @media screen and (max-width: 768px) {
    padding-bottom: 2em;
  }
}

.row-top-padded-lg {
  padding-top: 5em;
  @media screen and (max-width: 768px) {
    padding-top: 2em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 1em;
  @media screen and (max-width: 768px) {
    padding-bottom: 2em;
  }
}

.row-top-padded-md {
  padding-top: 4em;
  @media screen and (max-width: 768px) {
    padding-top: 2em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 2em;
  @media screen and (max-width: 768px) {
    padding-bottom: 2em;
  }
}

.row-top-padded-sm {
  padding-top: 2em;
  @media screen and (max-width: 768px) {
    padding-top: 2em;
  }
}

.border-bottom {
  border-bottom: 1px solid rgba($brand-black, .06);
}

.lead {
  line-height: 1.8;
}

.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

//Страница education
.education {
  margin: 40px 0;
  .table-responsive {
    .description {
      font-weight: normal;
      margin: 50px;

      display: none;
    }
    td:first-child,
    td:last-child {
      font-weight: bold;
    }
    h4 {
      margin: 0 0 10px;
    }
  }
}

.discipline .blog-text {
  margin-bottom: 40px;
  h3 {
    margin-bottom: 15px;
  }
  p {
    margin-bottom: 1em;
  }
}

.entry_form {
  input, textarea {
    width: 100%;
    margin-bottom: 15px;
  }
  button {
    @include center-block;
  }
}